.card {
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  justify-content: space-around;
  position: relative;
  border: 1px solid #df2c8a;
  margin-bottom: 10px;
  margin-top: 20px;
}
div.pointer.card {
  background: rgb(241, 241, 241);
}
